# Python caches
**/__pycache__/
**/node_modules

# Environment
App/BackendAPI/.env

# Videos / clips
App/Frontend/TestingFrontend/videos/*
App/Frontend/TestingFrontend/receivedVideos/*
App/BackendAPI/videos/*

# Ignore MP4 files globally
*.mp4
*.avi

